@font-face {
  font-family: 'TT Plugsurfing';
  src: url('/TT Plugsurfing/TT Plugsurfing/WOFF2/TT Plugsurfing WOFF2 1-000/TT_Plugsurfing_Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TT Plugsurfing';
  src: url('/TT Plugsurfing/TT Plugsurfing/WOFF2/TT Plugsurfing WOFF2 1-000/TT_Plugsurfing_Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Plugsurfing';
  src: url('/TT Plugsurfing/TT Plugsurfing/WOFF2/TT Plugsurfing WOFF2 1-000/TT_Plugsurfing_DemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'TT Plugsurfing', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}